<?php

if (!function_exists('test_helper')) {
    function test_helper()
    {
        return 'test_helper_[[ data key="suffix" required ]]';
    }
}

if (!function_exists('test_helper2')) {
    function test_helper2()
    {
        return 'test_helper_[[ data key="suffix" required ]]_2';
    }
}
